.navbar {
    background-color: #33302E;
    display: flex;
    justify-content: center;
    height: 80px;
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 49%);
}

.navbar-brand img {
    width: 140px;
    height: 32px;
}

.navbar-nav .nav-link.active {
    color: var(--secoundery-color);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--secoundery-color);
}

.nav-item a {
    font-size: 18px;
    color: #ffff;
    font-weight: normal;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg {
    padding: 0 0px;
    /* margin-left: 10px; */
}

.navbar-collapse {
    background-color: #33302E;
    margin-top: 20px;
    padding: 0 10px;
}


.top-background {
    margin-top: -21px;
    
/* Full height */
    

  /* Center and scale the image nicely */
}

.top-background-text {

    margin-top: 40px;
    text-align: center;
}

.top-background-text h1 {
    text-align: center;
    font-size: 86px;
    color: #33302E;
    font-weight: 500;
    line-height: 120%;
    text-shadow: 0px 4px 7px rgb(0 0 0 / 25%);
}

.top-background-text h1 span {
    font-weight: 700;
    font-style: italic;
}
/* ------------------ */

.display-product {
    text-align: center;
    margin-top: 88px;
    margin-bottom: 88px;
}

.display-product img {
    width: 381px;
    height: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display-product a {
    margin-top: 0px;
    padding: 14px 184px;
}
/* ------------------------------------------ */
.aboutus-section {
    background-color: var(--primary-color);
    padding: 88px 25px;
    margin-bottom: 20px;
}

.aboutus-section h2 {
    font-weight: 600;
    color: var(--white-color);
    line-height: 130%;
    font-size: 48px;
    letter-spacing: -2px;
}

.aboutus-section h2 span {
    font-style: italic;
    font-weight: 400;
}

.aboutus-section p {
    color: var(--white-color);
    line-height: 130%;
    font-size: 20px;
    font-family: 'Poppins';
}

.aboutus-section a {
    background: var(--white-color);
    color: #000000;
    padding: 14px 50px;
    font-size: 16px;
}

.aboutus-section-hr {
    width: 450px;
    /* Change this to make the line shorter */
    height: 3px;
    /* Adjust the thickness */
    background-color: #fdfdfd;
    /* Line color */
    border: none;
    /* Remove default border styling */
    margin: 0px;
    /* Center it and add some space around */
}

/* ------------------------------------------------------------------ */
.Favorites_section {}

.Favorites_section img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.Favorites_section h6 {
    text-align: start;
    margin-left: 10px;
    font-family: 'Poppins';
    font-size: 20px;
}

.Favorites_section span {
    display: block;
    text-align: start;
    margin-left: 10px;
    font-weight: 600;
    font-family: 'Poppins';
    line-height: 130%;
    font-size: 28px;
}

.Favorites_section svg {
    display: block;
    margin-right: 0;
    margin-left: auto;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-section {
    margin: 66px 0px;
}

.slider-section hr {
    width: 550px;
    /* Change this to make the line shorter */
    height: 2px;
    /* Adjust the thickness */
    background-color: #000;
    /* Line color */
    border: none;
    /* Remove default border styling */
    margin: 30px auto;
    /* Center it and add some space around */
    margin-bottom: 48px;
}

.slider-section h2 {
    text-align: center;
    font-size: 48px;
    font-family: 'Poppins';
    font-style: italic;

}

.slider-section h2 span {
    font-weight: 600;
}


/* ------------------------------------------------------------------------------------------------------------------------ */
.swiper {
    width: 100%;
    height: 100%;
    /* margin: 100px 0; */
}

.happy-customer {

    background-color: #DCD1BF;

    padding: 88px 0px;
}

.happy-customer h2 {
    font-size: 48px;
    line-height: 130%;
    letter-spacing: -2px;
    color: #33302E;
    font-weight: 700;
    text-align: center;
}

.happy-customer span {
    font-style: italic;
    font-weight: 500;
    margin-left: 12px;
}

.happy-customer hr {
    width: 775px;
    /* Change this to make the line shorter */
    height: 2px;
    /* Adjust the thickness */
    background-color: #000;
    /* Line color */
    border: none;
    /* Remove default border styling */
    margin: 24px auto;
    /* Center it and add some space around */
    margin-bottom: 48px;
}

.happy-customer-1 {}

.happy-customer-1 h6 {
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0px;
    color: #33302E;
    font-weight: 600;
    padding: 0px 77px;
    margin-bottom: 16px;
}

.happy-customer-1 p {
    font-style: italic;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0px;
    color: #33302E;
    padding: 0px 50px;
    margin-bottom: 56px;
}

.happy-customer-1 span {}

.happy-customer-2 {}

.happy-customer-2 h6 {
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0px;
    color: #33302E;
    font-weight: 600;
    padding: 0px 53px;
    margin-bottom: 16px;
}

.happy-customer-2 p {
    font-style: italic;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0px;
    color: #33302E;
    padding: 0px 43px;
    margin-bottom: 56px;
}

.happy-customer-2 span {}

.happy-customer-3 {}

.happy-customer-3 h6 {
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0px;
    color: #33302E;
    font-weight: 600;
    padding: 0px 70px;
    margin-bottom: 16px;
}

.happy-customer-3 p {
    font-style: italic;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0px;
    color: #33302E;
    padding: 0px 40px;
    margin-bottom: 24px;
}

.happy-customer-3 span {}

.happy-customer-1 h6 {
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0px;
    color: #33302E;
    font-weight: 600;
    padding: 0px 25px;
    margin-bottom: 16px;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */




.Barefoot {
    margin: 88px 104px;
    text-align: center
}

.Barefoot-size {
    max-width: 277px;
    height: 104px;
    margin-left: 0;
    margin-right: auto;
}

.Barefoot h2 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: -2px;
}

.Barefoot h2 span {
    margin-left: 10px;
    font-weight: 500;
    font-style: italic;
}

.Barefoot hr {
    width: 364px;
    /* Change this to make the line shorter */
    height: 3px;
    /* Adjust the thickness */
    background-color: #FEFDFB;
    /* Line color */
    border: none;
    /* Remove default border styling */
    margin: 24px auto;
    /* Center it and add some space around */
    margin-bottom: 48px;
}

.Barefoot img {
    max-width: 64px;
    margin-bottom: 16px;
}

.Barefoot p {}

/* ----------------------------------------------------------------------------------------------- */
.loop-section {
    padding: 88px 90px 88px 50px;
    background-color: #8B9B7F;
}

.loop-section hr {
    width: 364px;
    /* Change this to make the line shorter */
    height: 2px;
    /* Adjust the thickness */
    background-color: #f1f1f1;
    /* Line color */
    border: none;
    /* Remove default border styling */
    margin: 24px auto;
    /* Center it and add some space around */
    margin-bottom: 48px;
}

.loop-section h4 {
    color: #FEFDFB;
    line-height: 130%;
    font-size: 48px;
    letter-spacing: -2px;
}

.loop-section h4 span {
    font-weight: 300;
    font-style: italic;
}

.loop-section p {
    margin-bottom: 48px;
    color: #FEFDFB;
    padding: 0px 36px 0px 0px;
    font-size: 20px;
}


.loop-section-subcribe {
    margin-left: auto;
}

.mail {
    padding: 0.5em 0 0.5em 1.5em;
    line-height: 3;
    width: 100%;
    border: 1px solid #FEFDFB;
    border-radius: 40px;
    margin-bottom: 1em;
    background-color: #8B9B7F;
}

::-webkit-input-placeholder {
    color: #111127;
}

:-ms-input-placeholder {
    color: #111127;
}

::-ms-input-placeholder {
    color: #111127;
}

::placeholder {
    color: #fff;
}

.subscribe {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffff;
    padding: 0.9em 0;
    display: inline-block;
    border: none;
    border-radius: 40px;
    width: 100%;
    margin-bottom: 1.3em;
}

/* ------------------------------------------------------------------------------------------- */

.Community-section {
    margin: 88px 0px;
}


.Community-section h2 {}

.Community-section span {}

.Community img {
    object-fit: contain;
    aspect-ratio: 1/1;
    width: 293px;
    height: 440px;
    padding-right: 26px;
}

.Community-section-1 {
    margin-bottom: 48px;
}

.Community-section-1 h2 {
    font-size: 48px;
    line-height: 130%;
    letter-spacing: -2px;
    font-weight: 550;
    width: 334px;
    height: 124px;
}

.Community-section-1 h2 span {
    font-weight: 500;
    margin-left: 10px;
    font-style: italic;
}

.Community-section-2 {
    margin-left: auto;
    margin-bottom: 48px;
}

.Community-section-2 h6 {
    font-size: 20px;
    line-height: 160%;
}

.Community-section-2 p {
    font-size: 20px;
    width: 600px;
    height: 64px;
    font-style: italic;
    margin-top: 32px;
}

.Community-section-2 p span {
    font-weight: 600;
}

/* -------------------------------------------------------------------------------------------------------- */

.footer {
    background-color: #33302E;
    color: FEFDFB;
}

.footer a {
    text-decoration: none;
    color: #FEFDFB;
    transition: color 0.3s ease;
}
.footer-logo img{
    margin-bottom: 16px;
}
.footer a:hover {
    color: #cccccc;
}

.footer .border-light {
    border-color: #444;
}

.footer .fab {
    font-size: 1.5rem;
}




