/* Small devices (0-570px)  Mobile Device*/
@media (max-width: 570px) {
    .primary-btn {
        text-decoration: none;
        background: var(--primary-color);
        padding: 14px 50px;
        margin-top: 48px;
        display: inline-block;
        color: #FEFDFB;
        box-shadow: 4px 0px 6px 0px rgb(0 0 0 / 25%);
        margin-bottom: 20px;
        border-radius: 50px;
        font-size: 22px;
        font-weight: normal;
    }

    /* .container, .container-sm {
        max-width: 570px;
    } */


    /*  */

    .navbar-collapse {
        background-color: #33302E;
        margin-top: 23px;
        padding: 39px 103px;
        margin-left: -73px;
        margin-right: 45px;
    }

    .nav-item a {
        font-size: 24px;
        color: #ffff;
        font-weight: normal;
    }

    .top-background img {
        max-width: 37vh;
    }


    /*  */
    .top-background-text h1 {
        text-align: center;
        font-size: 57px;
        color: #33302E;
        font-weight: 500;
        line-height: 115%;
        text-shadow: 0px 4px 7px rgb(0 0 0 / 25%);
    }

    /*  */
    .display-product {
        text-align: center;
        margin-top: 88px;
        margin-bottom: 88px;
        display: contents;
    }

    .display-product img {
        width: 218px;
        height: 202px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .display-product a {
        padding: 8px 90px;
        margin-left: auto;
        margin-right: auto;
    }

    /*  */

    .aboutus-section {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .aboutus-section h2 {
        font-size: 40px;
        letter-spacing: -2px;
        text-align: center;
        /* margin: 0px -96px; */
        margin-bottom: 28px;
    }


    .aboutus-section p {
        font-size: 20px;
        /* margin: 0px -198px; */
    }

    .aboutus-section a {
        padding: 17px 48px;
        font-size: 18px;
    }

    .aboutus-section-hr {
        display: none;
    }

    /*  */
    .slider-section h2 {
        text-align: center;
        font-size: 36px;
        font-family: 'Poppins';
        font-style: italic;
        margin-bottom: 59px;
    }

    .slider-section hr {
        width: 406px;
        display: none;
    }

    /*-------------------------------------*/
    .happy-customer h2 {
        font-size: 36px;
        margin-bottom: 51px;
    }

    .happy-customer hr {
        width: 432px;
        display: none;
    }


    /*-----------------------------------*/

    .Barefoot {
        margin: 88px 20px;
        text-align: center;
    }

    .Barefoot-size {
        max-width: 277px;
        height: 104px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .Barefoot hr {
        width: 463px;
        background-color: #4e4e4d;
        display: none;
    }


    /*-----------------------------------*/
    .loop-section {
        padding: 88px 106px 88px 72px;
    }

    .loop-section hr {
        width: 359px;

    }

    .loop-section h4 {
        text-align: center;
    }


    .loop-section p {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }


    .loop-section-subcribe {
        /* margin-left: auto; */
        display: contents;
    }


    /*-----------------------------------*/
    .swiper-slide.swiper-slide {
        width: 360.5px !important;
        margin-right: 0px !important;
    }
    .Community-section-1 {
         margin-bottom: 0px;
    }

    .Community-section-copy {
        text-align: -webkit-center;
        /* margin: 0px 25px; */
    }

    .Community-section {
        margin: 29px 0px;
    }

    .Community-section hr {
        margin: 0px 0;
        max-width: 360px;
        display: none;
    }

    .Community img {
        padding-right: 10px;
    }



    .Community-section-1 h2 {
        font-size: 32px;
        line-height: 130%;
        letter-spacing: -2px;
        font-weight: 550;
        width: 334px;
        height: 124px;
        margin-bottom: 0;
    }


    .Community-section-2 {
        margin-left: auto;
        margin-bottom: 48px;
        margin-bottom: 84px;
    }

    .Community-section-2 p {
        font-size: 20px;
        width: 600px;
        height: 64px;
        font-style: italic;
        margin-top: 32px;
        max-width: 287px;
    }

    /*-----------------------------------*/



    .footer .row {
        text-align: left;

    }
}

/* Medium devices (570px - 768px) Teb Device*/
@media (min-width: 570px) and (max-width: 768px) {
    .primary-btn {
        text-decoration: none;
        background: var(--primary-color);
        padding: 14px 50px;
        margin-top: 48px;
        display: inline-block;
        color: #FEFDFB;
        box-shadow: 4px 0px 6px 0px rgb(0 0 0 / 25%);
        margin-bottom: 20px;
        border-radius: 50px;
        font-size: 22px;
        font-weight: normal;
    }

    /* .container, .container-sm {
        max-width: 570px;
    } */


    /*  */

    .navbar-collapse {
        background-color: #33302E;
        margin-top: 23px;
        padding: 39px 103px;
        margin-left: -113px;
        margin-right: 45px;
    }

    .nav-item a {
        font-size: 24px;
        color: #ffff;
        font-weight: normal;
    }



    /*  */
    .top-background-text h1 {
        text-align: center;
        font-size: 65px;
        color: #33302E;
        font-weight: 500;
        line-height: 120%;
        text-shadow: 0px 4px 7px rgb(0 0 0 / 25%);
    }

    /*  */
    .display-product {
        text-align: center;
        margin-top: 88px;
        margin-bottom: 88px;
        display: contents;
    }

    .display-product img {
        width: 290px;
        height: 272px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .display-product a {
        padding: 8px 75px;
        margin-left: auto;
        margin-right: auto;
    }

    /*  */

    .aboutus-section {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .aboutus-section h2 {
        font-size: 51px;
        letter-spacing: -2px;
        text-align: center;
        margin: 0px -96px;
        margin-bottom: 28px;
    }


    .aboutus-section p {
        font-size: 20px;
        margin: 0px -64px;
    }

    .aboutus-section a {
        padding: 17px 48px;
        font-size: 18px;
    }

    .aboutus-section-hr {
        display: none;
    }

    /*  */
    .slider-section h2 {
        text-align: center;
        font-size: 41px;
        font-family: 'Poppins';
        font-style: italic;
    }

    .slider-section hr {
        width: 490px;
    }

    /*-------------------------------------*/
    .happy-customer h2 {
        font-size: 32px;
    }

    .happy-customer hr {
        width: 432px;
    }


    /*-----------------------------------*/

    .Barefoot {
        margin: 88px 20px;
        text-align: center;
    }

    .Barefoot-size {
        max-width: 277px;
        height: 104px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .Barefoot hr {
        width: 463px;
        background-color: #4e4e4d;
    }


    /*-----------------------------------*/
    .loop-section {
        padding: 88px 106px 88px 72px;
    }

    .loop-section hr {
        width: 359px;

    }

    .loop-section h4 {
        text-align: center;
    }


    .loop-section p {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }


    .loop-section-subcribe {
        /* margin-left: auto; */
        display: contents;
    }


    /*-----------------------------------*/
    .swiper-slide.swiper-slide {
        width: 360.5px !important;
        margin-right: 0px !important;
    }

    .Community-section-copy {
        text-align: -webkit-center;
        margin: 0px 25px;
    }

    .Community-section {
        margin: 29px 0px;
    }

    .Community-section hr {
        margin: 0px 0;
        max-width: 360px;
    }

    .Community img {
        padding-right: 10px;
    }



    .Community-section-1 h2 {
        font-size: 48px;
        line-height: 130%;
        letter-spacing: -2px;
        font-weight: 550;
        width: 334px;
        height: 124px;
    }


    .Community-section-2 {
        margin-left: auto;
        margin-bottom: 48px;
    }

    .Community-section-2 p {
        font-size: 20px;
        width: 600px;
        height: 64px;
        font-style: italic;
        margin-top: 32px;
        max-width: 411px;
    }

    /*-----------------------------------*/



    .footer .row {
        text-align: left;

    }
}

/* Large devices (768px - 992px)  Laptop Device*/
@media (min-width: 768px) and (max-width: 992px) {
    /*  */

    .navbar-collapse {
        background-color: #33302E;
        margin-top: 23px;
        padding: 39px 110px;
        margin-left: -113px;
        margin-right: -28px;
    }

    .nav-item a {
        font-size: 24px;
        color: #ffff;
        font-weight: normal;
    }



    /*  */
    .top-background-text h1 {
        text-align: center;
        font-size: 60px;
        color: #33302E;
        font-weight: 500;
        line-height: 120%;
        text-shadow: 0px 4px 7px rgb(0 0 0 / 25%);
    }

    /*  */

    .display-product img {
        width: 290px;
        height: 272px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .display-product a {
        margin-top: 0px;
        padding: 8px 75px;
    }

    /*  */

    .aboutus-section {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .aboutus-section h2 {
        font-size: 51px;
        letter-spacing: -2px;
        text-align: center;
        margin: 0px -96px;
    }


    .aboutus-section p {
        font-size: 20px;
        margin: 0px -118px;
    }

    .aboutus-section a {
        padding: 14px 50px;
        font-size: 20px;
    }

    .aboutus-section-hr {
        width: 574px;
        margin-bottom: 27px;
        margin-left: -69px;
    }

    /*-------------------------------------*/
    .happy-customer h2 {
        font-size: 39px;
    }

    .happy-customer hr {
        width: 599px;
    }

    /*-----------------------------------*/

    .Barefoot {
        margin: 88px 20px;
        text-align: center;
    }

    .Barefoot-size {
        max-width: 277px;
        height: 104px;
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .Barefoot hr {
        width: 470px;
        background-color: #4e4e4d;
    }

    .Barefoot h2 {
        text-align: center;
        font-weight: 700;
        font-size: 45px;
        line-height: 130%;
        letter-spacing: -2px;
    }


    /*-----------------------------------*/
    .loop-section {
        padding: 88px 90px 88px 50px;
    }

    .loop-section hr {
        width: 359px;

    }

    .loop-section h4 {
        text-align: center;
    }


    .loop-section p {
        text-align: center;
    }

    .loop-section-subcribe {
        display: contents;
    }

    .subscribe {
        font-size: 17px;

    }


    /*-----------------------------------*/
    .swiper-slide.swiper-slide {
        width: 360.5px !important;
        margin-right: 0px !important;
    }

    .Community-section-copy {
        text-align: -webkit-center;
        margin: 0px;
    }

    .Community-section {
        margin: 29px 0px;
    }

    .Community-section hr {
        margin: 0px 0;
        max-width: 360px;
    }

    .Community img {
        padding-right: 10px;
    }



    .Community-section-1 h2 {
        font-size: 48px;
        line-height: 130%;
        letter-spacing: -2px;
        font-weight: 550;
        width: 334px;
        height: 124px;
    }


    .Community-section-2 {
        margin-left: auto;
        margin-bottom: 48px;
    }

    .Community-section-2 p {
        font-size: 20px;
        max-width: 411px;
    }

    /*-----------------------------------*/


}

/* Extra large devices (992px and above)  Computer Device*/
@media (min-width: 992px) {
    .Community-section-2 p {
        font-size: 20px;
        width: 600px;
        height: 64px;
        font-style: italic;
        margin-top: 32px;
        max-width: 468px;
    }
}